<div class="container onboarding-slack">
  <h3>Welcome to Wilfred, <%= @name %>!</h3>
  <div class="content">
    <p>To continue, we'll need to link your Slack account.</p>
    <%= button_to "Log in to Slack", user_slack_omniauth_authorize_path, class: "button login-to-slack" %>
  </div>
</div>
